In [2]:
import cx_Oracle
import re
con = cx_Oracle.connect('ss/ss@localhost')
mycursor = con.cursor()
Ques=open("data/ques.txt","r").read().split("\n")
temp=open("data/radio.txt","r").read().split("\n")
radio_ques=[]
for x in temp:
    xx=x.split("||")
    radio_ques.append(
        {
            "question":xx[0],
            "mcq":xx[1].split(";"),
            "ans":xx[2]
        }
    )
def question_show(number):
    if number>=(len(Ques)+1) and number<=(len(Ques)+len(temp)):
        q_num=number-len(Ques)-1
        return {
            rad:gr.Radio(radio_ques[q_num]["mcq"], label=radio_ques[q_num]["question"], visible=True,interactive=True),
            out: gr.Textbox(visible=False),
            inp:gr.Code(label="SQL code",lines=10,visible=False,interactive=True),
            lab: gr.Label(visible=False)
        }
    return {
        rad:gr.Radio(visible=False),
        out: gr.Textbox(label="Question description",lines=2,visible=True,value=f"{Ques[int(number)-1]}"),
        inp:gr.Code(label="SQL code",lines=10,visible=True,interactive=True, value=""),
        lab: gr.Label(visible=False)
    }

In [3]:
tt_all=mycursor.execute("select table_name from user_tables")
li=[]
for x in tt_all:
    li.append(x[0])
    print(x[0])
print(li)
# for x in li:
#     if x!="SHAKIB":
#         mycursor.execute(f"drop table {x}")

SHAKIB
SS2
SS3
SS4
['SHAKIB', 'SS2', 'SS3', 'SS4']

In [ ]:
# t2=mycursor.execute("select * from shakib")
# t3=mycursor.execute("select * from abtrc")
# xx=[(x[0],x[1]) for x in (t2.description)]
# xx2=[(x[0],x[1]) for x in (t3.description)]
# xx==xx2

In [8]:
def sql_check_fun(sql_code):
    try:
        mycursor.execute(sql_code)
        return True
    except:
        return False

In [102]:
# sql_check_fun("alter table ss3 rename column stu_name to name")

False

34534 3 None alter table dept rename column name to stu_name
ch: False

In [107]:
# mycursor.execute("alter table ss3 rename column name to stu_name")
# t=mycursor.execute("select * from ss3")
# t.description

[('NAME', <cx_Oracle.DbType DB_TYPE_CHAR>, 1, 1, None, None, 1),
 ('ROLL', <cx_Oracle.DbType DB_TYPE_NUMBER>, 39, None, 38, 0, 1),
 ('CGPA', <cx_Oracle.DbType DB_TYPE_NUMBER>, 7, None, 3, 2, 1)]

243 3 None alter table ss3 rename column name to stu_name

In [56]:
# sq="insert into shakib values('a',12,7.7)"
# xx=([x for x in mycursor.execute("select * from shakib")])[0]

In [63]:
# import re

# def detect_sql_code(sql_query):
#     pattern = r'\bALTER\s+TABLE\s+\w+\s+RENAME\s+COLUMN\s+\w+\s+TO\s+\w+\b'
#     match = re.search(pattern, sql_query, re.IGNORECASE)
#     return match is not None

Detected SQL code.

In [18]:
# mycursor.execute("delete from ss5 where roll=12")
# t=mycursor.execute("select * from ss5")
# for x in t:
    # mycursor.execute(f"delete from ss5 where roll=12")
    # print(x)

435345 2 None insert into ss5 values('a',12,7.7)
-----------------
('a', 12, 7.7) ------- ('a', 12, 7.7)
435345 3 None alter table ss4 reame column name to stu_name
435345 3 None alter table ss4 rename name to stu_name
435345 3 None alter table ss4 rename column st_name to stu_name

In [4]:
# import re

# def detect_sql_code(sql_statement):
#     pattern = r'\bALTER\s+TABLE\s+\w+\s+RENAME\s+COLUMN\s+\w+\s+TO\s+\w+\b'
#     if re.match(pattern, sql_statement, re.IGNORECASE):
#         return True
#     else:
#         return False

# # Example usage
# sql_code = "alter table dept rename column name to s45s"
# if detect_sql_code(sql_code):
#     print("Detected the specified SQL code pattern.")
# else:
#     print("SQL code pattern not detected.")

Detected the specified SQL code pattern.

In [26]:
t1=['NAME', 'ROLL', 'CGPA']
t2=[(x[0]) for x in ((mycursor.execute("select * from shakib")).description)]
t2

['NAME', 'ROLL', 'CGPA']

In [13]:
def answer_check2(roll,number,sql_code):
    # ch=sql_check_fun(sql_code)
    # print(f"ch: {ch}")
    # if not ch:
            # return False
    if number==1:
        if not sql_check_fun(sql_code):
            return False
        pattern = r'create\s+table\s+(\w+)'
        match = re.search(pattern, sql_code)
        table_name = match.group(1)
        t=[(x[0],x[1]) for x in ((mycursor.execute(f"select * from {table_name}")).description)]
        t2=[(x[0],x[1]) for x in ((mycursor.execute("select * from shakib")).description)]
        return t==t2
    if number==2:
        if not sql_check_fun(sql_code):
            return False
        table_name=sql_code.split(" ")[2]
        print("-----------------")
        t=([x for x in mycursor.execute("select * from shakib")])[0]
        t2=([x for x in mycursor.execute(f"select * from {table_name}")])[0]
        print(t,"-------",t2)
        return t==t2
    if number==3:
        # sql_check_fun(sql_code)
        # pattern = r'\balter\s+table\s+\w+\s+rename\s+column\s+\w+\s+to\s+\w+\b'
        t1=['STU_NAME', 'ROLL', 'CGPA']
        pattern = r'alter\s+table\s+(\w+)\s+rename'
        match = re.search(pattern, sql_code, re.IGNORECASE)
        table_name = match.group(1)
        t2=[(x[0]) for x in ((mycursor.execute(f"select * from {table_name}")).description)]
        return t1==t2
    if number==4:
        if not sql_check_fun(sql_code):
            return False
        pattern = r'\balter table\b\s+\w+\s+\bmodify\b\s+\w+\s+\w+\(\d+\)'
        return bool(re.search(pattern, sql_code, re.IGNORECASE))

    if number==5:
        if not sql_check_fun(sql_code):
            return False
        pattern = re.compile(r'^alter\s+table\s+\w+\s+add\s+\w+\s+\w+\(.*\)$', re.IGNORECASE)
        return bool(pattern.match(sql_code))
                
    if number==6:
        if not sql_check_fun(sql_code):
            return False
        pattern = r'\balter\s+table\b\s+[a-z_][a-z0-9_]*\s+\bdrop\s+column\b\s+[a-z_][a-z0-9_]*'
        match = re.search(pattern, sql_code, re.IGNORECASE)
        return match is not None
        

    
def check_duplicate(roll,number):
    temp2=open("data/result.txt","r").read().split("\n")
    for x in temp2:
        xx=x.split(";")
        if str(roll)==str(xx[0]) and str(number)==str(xx[1]):
            return True
    return False

In [14]:
def answer_check(roll,number,rad,inp):
    print(roll,number,rad,inp)
    if check_duplicate(roll,number):
        return {
                lab: gr.Label(visible=True,elem_id="already",value="Already submitted or accepted!!!")
            }
    result=open("data/result.txt","a")
    if number>=(len(Ques)+1) and number<=(len(Ques)+len(temp)):
        q_num=number-len(Ques)-1
        if radio_ques[q_num]["ans"]==rad:
            st=f"{roll};{number};AC\n"
            result.write(st)
            return {
                lab: gr.Label(visible=True,elem_id="accepted",value="Submitted")
            }
        else:
            st=f"{roll};{number};NAC\n"
            result.write(st)
            return {
                lab: gr.Label(visible=True,elem_id="accepted",value="Submitted")
            }
       
        
    else:
        sql_check=answer_check2(roll,number,inp)
        if sql_check:
            st=f"{roll};{number};AC\n"
            result.write(st)
            return {
                lab: gr.Label(visible=True,elem_id="accepted",value="Accepted")
            }
        else:
            return {
                lab: gr.Label(visible=True,elem_id="wrong",value="Wrong")
            }
    result.close()

In [15]:
import gradio as gr
css = """
#accepted {background-color: green;align-content: center;font: 30px Arial, sans-serif;}
#wrong {background-color: red;align-content: center;font: 30px Arial, sans-serif;}
#already {background-color: blue;align-content: center;font: 30px Arial, sans-serif;}
"""
with gr.Blocks(css=css) as demo:
    gr.Markdown(
    """
    # Database Quiz and Lab test
    Disclaimer: It is beta version. Maybe it has some bugs. Please inform me if you find any bugs. (Shakib)
    """)
    with gr.Row():
        roll = gr.Number(label="Roll number")
    with gr.Row():
        ques_show=gr.Dropdown(
            [x+1 for x in range(len(Ques)+len(temp))], label="Question number", info="Enter your question number")
    with gr.Row():
        out = gr.Textbox(label="Question description",lines=1,visible=False)
    with gr.Row():
        inp=gr.Code(label="SQL code(Use small letter for variable only)",lines=10,visible=False)
        rad=gr.Radio(visible=False)
    with gr.Row():    
        button = gr.Button("Submit")
        lab=gr.Label(visible=False)
        ques_show.change(question_show, ques_show, [rad,out,inp,lab])
    button.click(answer_check,[roll,ques_show,rad,inp],lab)

demo.launch()

Running on local URL:  http://127.0.0.1:7863

To create a public link, set `share=True` in `launch()`.

435345 2 None insert into ss5 values('a',12,7.7)
-----------------
('a', 12, 7.7) ------- ('b', 12, 7.7)

In [ ]:
import gradio as gr

with gr.Blocks() as demo:
    error_box = gr.Textbox(label="Error", visible=False)

    name_box = gr.Textbox(label="Name")
    age_box = gr.Number(label="Age", minimum=0, maximum=100)
    symptoms_box = gr.CheckboxGroup(["Cough", "Fever", "Runny Nose"])
    radio=gr.Radio(["park", "zoo", "road"], label="Location", info="Where did they go?",visible=False),
    submit_btn = gr.Button("Submit")

    with gr.Column(visible=False) as output_col:
        diagnosis_box = gr.Textbox(label="Diagnosis")
        patient_summary_box = gr.Textbox(label="Patient Summary")

    def submit(name, age, symptoms):
        if len(name) == 0:
            return {error_box: gr.Textbox(value="Enter name", visible=True)}
        return {
            output_col: gr.Column(visible=True),
            diagnosis_box: "covid" if "Cough" in symptoms else "flu",
            patient_summary_box: f"{name}, {age} y/o",
        }

    submit_btn.click(
        submit,
        [name_box, age_box, symptoms_box],
        [error_box, diagnosis_box, patient_summary_box, output_col],
    )

demo.launch()

In [ ]:
import gradio as gr


def sentence_builder(quantity, animal, countries, place, activity_list, morning):
    return f"""The {quantity} {animal}s from {" and ".join(countries)} went to the {place} where they {" and ".join(activity_list)} until the {"morning" if morning else "night"}"""


demo = gr.Interface(
    sentence_builder,
    [
        gr.Slider(2, 20, value=4, label="Count", info="Choose between 2 and 20"),
        gr.Dropdown(
            ["cat", "dog", "bird"], label="Animal", info="Will add more animals later!"
        ),
        gr.CheckboxGroup(["USA", "Japan", "Pakistan"], label="Countries", info="Where are they from?"),
        gr.Radio(["park", "zoo", "road"], label="Location", info="Where did they go?"),
        gr.Dropdown(
            ["ran", "swam", "ate", "slept"], value=["swam", "slept"], multiselect=True, label="Activity", info="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget ultricies aliquam, nunc nisl aliquet nunc, eget aliquam nisl nunc vel nisl."
        ),
        gr.Checkbox(label="Morning", info="Did they do it in the morning?"),
    ],
    "text",
    examples=[
        [2, "cat", ["Japan", "Pakistan"], "park", ["ate", "swam"], True],
        [4, "dog", ["Japan"], "zoo", ["ate", "swam"], False],
        [10, "bird", ["USA", "Pakistan"], "road", ["ran"], False],
        [8, "cat", ["Pakistan"], "zoo", ["ate"], True],
    ]
)

if __name__ == "__main__":
    demo.launch()